@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E; $naplesYellow: #F9DC5C; $teaGreen: #C2EABD; $oxfordBlue: #011936; $Charcoal: #465362;

body {
    background-color: $oxfordBlue;   
    .navMenu {
        text-align: center;
        padding: 0.5rem;     
        .active { color: #ED254E; text-shadow: 0px 0px 8px rgba(237, 37, 78, 1); }       
        a {
            color: white;
            font-size: 16px; text-decoration: none; text-transform: uppercase;  
            padding: 0 1em; border-right: 2px dotted $redCrayola; transition: all 0.2s ease-in-out;
            &:last-child { border-right: 0; }
            &:hover { color: $redCrayola; }
        }
    }
    
    .container, .color-properties, .color-code-preview, .preview, .color-code-value {
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap; flex-direction: row;
    }
    .container {
        min-height: 90vh; 
        .card-container {            
            width: 650px; height: auto; position: relative;
            padding: 1em; border-radius: 10px; box-shadow: 0px 0px 5px 5px $Charcoal;
            background-color: $teaGreen; text-align: center;

            #title {
                font-size: 15px; font-weight: bold;
                color: $oxfordBlue; user-select: none;
            }

            .color-properties {
                flex-direction: row; 
                margin: 5px 0 auto;                
                
                .column {
                    width: 50%; height: auto;
                    padding: 1em 0.5rem 0.5rem 0.5rem; border: 2px solid $oxfordBlue; border-bottom: 0; 
                    background-color: $redCrayola; color: white; text-align: center;

                    &:first-child { border-right: 0; border-bottom: 0; border-radius: 5px 0 0 0; }
                    &:nth-child(2) { border-radius: 0 5px 0 0; border-left: 2px dotted $oxfordBlue; border-bottom: 0; }
                    &:nth-child(3) { padding-top: 0.5rem; }
                    
                    .input-group {
                        display: flex; flex-direction: column; justify-content: center; margin-bottom: 5px; 
                    
                        label {      
                            width: 100%; font-size: 15px; margin-bottom: 0;
                        }   
                        
                        .input-row { display: flex; align-items: center; width: 100%; gap: 5px; }
                        .form-range { flex: 1; height: 25px; cursor: pointer; }

                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                        input[type = number] {
                            width: 25px; height: 25px;
                            appearance: none; -moz-appearance: textfield; border: 0; margin: 0 !important; border-radius: 5px !important;
                            text-align: center; font-size: 9px;
                        }
                        
                         span { font-size: 10px; line-height: 2; }

                    }   

                    &:last-child {
                        width: 100%; height: auto;
                        border-radius: 0; border-top: 2px dotted $oxfordBlue; border-bottom-style: dotted;
                        label { width: auto; height: 25px; border: 0; margin: 0; line-height: 1.25; }
                        input {
                            width: 100%; height: 30px;
                            margin: 0; border-radius: 5px !important; border: 1px solid $oxfordBlue;
                            text-transform: uppercase; text-align: center;                            
                        }
                    }                   
                }
            }

            .reset-container {
                background-color: $redCrayola; border: 2px solid $oxfordBlue; border-top: 0; 
                border-radius: 0 0 5px 5px; padding: 5px; text-align: center; border-top: 2px dotted $oxfordBlue;
                .reset-btn {
                    background-color: $Charcoal;
                    padding: 5px 10px; font-size: 12px;                     
                    &:hover { background-color: black; }  
                    i { font-size: 10px; } 
                }
            }

            .color-code-preview {
                width: 100%;        
                margin-top: 10px;
                .preview {
                    width: 115px; height: 115px;
                    border-radius: 5px; border: 2px solid $oxfordBlue;
                }
                span {
                    font-size: 12px; letter-spacing: 1px;
                    color: $oxfordBlue; opacity: .5; user-select: none;
                }
            }

            .color-code-value {
                margin-top: 10px; justify-content: center; gap: 5px;
                .input-group {
                    width: fit-content; flex-wrap: nowrap; justify-content: center; align-items: center;
                    input {
                        width: 165px; height: 35px; flex: none;
                        font-size: 13px; text-align: center;   
                        border: 2px solid $oxfordBlue; border-right: 0; cursor: copy;
                        &::selection { background-color: $naplesYellow; }                    
                    }
                    button {
                        width: 30px; height: 35px; 
                        font-size: 10px;
                        background-color: $redCrayola; border: 2px solid $oxfordBlue; border-left-style: dotted ;
                        padding: 0; transition: 0.25s;
                        &:hover { 
                            background-color: var(--bs-btn-hover-bg); font-size: 11px;
                        }
                    }
                    &:last-child input {
                        text-transform: uppercase;
                        &::placeholder { text-transform: none; }
                    }
                }
            }
        }        
    }
}